<mat-expansion-panel>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <h2>Employee</h2>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
        placeholder="Name"
      />

      <input
        class="form-control"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Email"
      />

      <input
        class="form-control"
        id="address"
        type="text"
        formControlName="address"
        placeholder="Address"
      />
    <h2>Company</h2>
    <div formGroupName="company" class="form-group">
      <input
        class="form-control"
        id="companyName"
        type="text"
        formControlName="companyName"
        placeholder="Company Name"
      />

      <input
        class="form-control"
        id="department"
        type="text"
        formControlName="department"
        placeholder="Department"
      />

      <input
        class="form-control"
        id="position"
        type="text"
        formControlName="position"
        placeholder="Position"
      />

      <input
        class="form-control"
        id="salary"
        type="number"
        formControlName="salary"
        placeholder="Salary"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">
        <span>Add Employee</span>
      </button>
    </div>
  </form>

  <mat-expansion-panel-header>
    <mat-panel-title> Add Employee </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
