
<div class="container">
  <!-- Content here -->
  <div class="row">
    <div class="col">
      <app-employees-form></app-employees-form>
    </div>
    <div class="col">
      <app-employees-info></app-employees-info>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Employees</h2>
      <ul class="employees">
        <li *ngFor="let employee of employees">
          <button [class.selected]="employee === selectedEmployee" type="button" (click)="onSelect(employee)">
            <span class="badge">{{employee.id}}</span>
            <span class="name">{{employee.name}}</span>
            
          </button>
        </li>
      </ul>
       <app-employees-list [employee]="selectedEmployee"></app-employees-list>
    </div>
  </div>
</div>
